{% extends 'base.html' %} {% block content %}
<h1>My Events</h1>
<h3>Upcoming Events</h3>

<div>
  {%for event in context%}
  <div>
    <ul class="collection with-header" id="collection">
      <li class="collection-header" id="collection-item"> <h4>Event: {{ event.title }}</h4></li>
      <li class="collection-item" id="collection-item">Date: {{ event.date_time }}</li>
      <li id="results-img" class="collection-item" id="collection-item"><img class="responsive-img" src={{ event.image }} alt=“Event Image”></li>
      
      <li class="collection-header" id="collection-item" style="text-align: center;">
        <button >
          <a href="/events/detail/{{event.seatgeek_id}}"> Event Details</a>
        </button>
      </li>
       

      <li class="collection-item" id="collection-item">
          <form action="/dashboard/delete/{{ event.seatgeek_id }}" method="POST">
          <input type="hidden" name="DELETE" value="Delete Event" />
          <button class="waves-effect waves-light btn" type="submit">Delete Event</button>
        </form>
      </li>

      <li>
        <form action="/dashboard/comment/add/{{ event.seatgeek_id }}" method="POST">
            <input type="text" name="comment" placeholder="Add Comment" />
            <input class="waves-effect waves-light btn" value='submit' type="submit"></input>
          </form>
      </li>

      {%for comment in event.comments%}
        <div class='comment-section'>
          
           <div>{{comment.comment}}</div>
           <div>{{comment.id}}</div>
          
            <form action="/dashboard/comment/delete/{{ comment.id }}" method="POST">
              <input type="hidden" name="DELETE" value="Delete Comment" />
              <button class="waves-effect waves-light btn" type="submit">Delete Comment</button>
            </form>
          
          </div>
      {% endfor %}
    </ul>
    
  </div>

  {% endfor %}
</div>
{% endblock %}
